* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cursosSection {
  width: 175px;
  height: 495px;
}

/* Estilo para el formulario */
.formularios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50%;
  margin: auto;
  border: 2px dashed #000;
  padding: 20px;
}

.frmlbl {
  color: #000;
  font-weight: bolder;
}

/* Estilo para el menú desplegable */
.selector {
  width: 100%;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: transparent;
  color: #000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 10px;
}

.selector:hover {
  background-color: #0075FF;
  color: #fff;
  cursor: pointer;
}

/* Estilo para las opciones del menú desplegable */
.opcion {
  font-size: 16px;
  color: #000;
  background-color: aliceblue;
}

#cursosContainer {
  width: 100%;
  min-height: 308px;
  border: 2px dashed #000;
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
}

.curso {
  background-color: #0c39bf;
  margin: 10px;
  height: 25px;
  color: #000;
  align-items: center;
  cursor: grab;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
}

#cursosContainer .curso {
  width: 100%;
  display: block;
  padding: 15px;
  height: auto;
  margin: 10px;
}

.cursoOcultar {
  display: none;
}

#cursosContainer .cursoOcultar {
  display: block;
  padding-top: 20px;
  border-top: 2px solid #000;
}

#trash {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border: 2px dashed #000;
  background-color: #e91e1e;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
  font-weight: bolder;
}

.diasSection {
  width: 200px;
  margin: 10px;
}

.dia {
  width: 100%;
  height: 435px;
  border: 2px dashed #000;
}

.horasCont {
  width: 100%;
  height: 435px;
  border: 2px dashed #000;
}

.tituloDia {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
  color: #000;
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
  font-weight: bolder;
}

.horarioSection {
  height: 495px;
  width: 120px;
  margin: 10px;
}

.tituloHora {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
  color: #000;
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
  font-weight: bolder;
}

.hora {
  align-items: center;
  margin: 10px;
  min-height: 50px;
  max-height: 50px;
  border-bottom: 2px solid #000;
  color: #000;
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
  font-weight: bolder;
  text-align: right;
}

.horario {
  align-items: center;
  margin: 10px;
  min-height: 50px;
  max-height: 50px;
  border: 2px dashed #000;
  color: #000;
}