* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  user-select: none;
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
  padding: 10px;
}

/* Estilo para el formulario */
.formularios2 {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
  margin-bottom: 15px;
}

.frmlbl {
  color: #000;
  font-weight: bolder;
}

/* Estilo para el menú desplegable */
.selector {
  width: 100%;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: transparent;
  color: #000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 10px;
}

.selector:hover {
  background-color: rgb(90, 92, 105);
  color: #fff;
  cursor: pointer;
}

/* Estilo para las opciones del menú desplegable */
.opcion {
  font-size: 16px;
  color: #000;
  background-color: aliceblue;
}

#cursosContainer {
  width: 100%;
  min-height: 308px;
  border: 2px solid #888;
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
}

.curso1 {
  background-color: #0c39bf;
  padding: 10px;
  margin: 5px;
  color: #000;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
}


.diasSection {
  margin: 10px;
}

.dia {
  width: 100%;
  border: 2px solid #888;
}

.horasCont {
  width: 100%;
  border: 2px solid #888;
}

.tituloDia {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
  color: #000;
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
  font-weight: bolder;
}

.horarioSection {
  margin: 10px;
}

.tituloHora {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
  color: #000;
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
  font-weight: bolder;
}

.hora {
  align-items: center;
  height: 175px;
  margin: 10px;
  border-bottom: 2px solid #000;
  color: #000;
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
  font-weight: bolder;
  text-align: right;
}

.horario {
  align-items: center;
  height: 175px;
  margin: 10px;
  border: 2px solid #222;
  color: #000;
  display: flex;
  align-items: center;
}

.horarioInvalido {
  align-items: center;
  margin: 10px;  
  min-height: 175px;
  border: 2px solid #888;
  color: #000;
}

.IDOculto {
  display: none;
}

@media print {
  .paraPDFMostrar {
    display: block !important;
  }

  .ocultarPDF {
    display: none !important;
  }
} 